* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #e9e9e9;
}
header {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: rgb(10, 118, 114);
}
header .logo {
    margin-left: 190px;
    padding: 8px 0;
} 
header .logo h1 {
    font-family: 'Agbalumo';
    position: relative;
    font-size: 43px;
    color: rgb(1, 47, 45);
}
header .logo h1 span {
    position: absolute;
    font-family: 'Agbalumo';
    bottom: 2px;
    right: -75px;
    font-size: 22px;
}
header .navbar {
    display: flex;
    align-items: center;
    margin-right: -400px;
}
.navbar a {
    text-decoration: none;
}
.navbar a h2 {
    color: #fff;
    font-size: 19px;
    padding: 0 15px;
    transition: .5s ease-in-out;
}
.navbar a h2 i {
    padding: 0 10px;
}
.navbar a h2:hover,
.navbar a h3:hover {
    color: rgb(3, 73, 70);
}
.navbar a h3 {
    color: #fff;
    font-size: 23px;
    padding: 0 23px;
}
.navbar button {
    width: 165px;
    height: 47px;
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(10, 118, 114);
    margin-left: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #fff;
    outline: 0;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.navbar button:hover {
    background: transparent;
    color: #fff;
    border: 4px solid #fff;
}
.search-box {
    width: 100%;
    height: 20vh;
    background: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box .search-bar {
    position: relative;
    top: -23px;
    width: 60%;
    display: flex;
}
.search-box .search-bar input {
    position: absolute;
    width: 90%;
    height: 65px;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #999;
    font-size: 18px;
    padding: 5px 45px;
}
.search-box .search-bar i {
    z-index: 100;
    position: absolute;
    font-size: 23px;
    padding: 19px 10px;
    left: 0;
    top: 0;
    color: rgb(1, 47, 45);
}
.region {
     width: 180px;
     height: 65px;
     margin-left: -95px;
     position: relative;
}
.region i {
    position: absolute;
    z-index: 100;
    font-size: 21px;
    top: 32px;
    padding: 0 5px;
}
.region select {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px 35px;
    font-size: 16px;
    margin-top: 9.4px;
    border: 0;
    outline: 0;
}
.search-box select option {
    font-size: 19px;
}
.search-box button {
    width: 160px;
    height: 65px;
    margin-top: 19px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(10, 118, 114);
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: .3s ease;
}
.search-box button i {
    padding: 0 3px;
}
.search-box button:hover {
    background: transparent;
    color: #000;
}
.icons {
    width: 100%;
    height: auto;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.icons h1 {
    font-size: 38px;
    font-weight: 700;
    padding-top: 30px;
    font-family: 'Kanit';
}
.icons .box-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons .box-icons .small-box {
    width: 140px;
    height: 190px;
    margin: 50px 15px;
    cursor: pointer;
}
.icons .box-icons .in-two {
    display: flex;
}
.icons .box-icons .small-box:hover h2 {
    background: rgb(10, 118, 114);
    color: #fff;
}
.icons .box-icons .small-box img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}
.icons .box-icons .small-box h2 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
    color: rgb(10, 118, 114);
}
.container {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.container .promo {
    text-align: center;
    padding: 40px 0;
    font-size: 35px;
    color: rgb(10, 118, 114);
    font-family: 'Kanit';
}
.container .hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .hero .sell-box {
    width: 310px;
    height: 355px;
    margin: 10px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.hero .sell-box img {
    width: 100%;
    height: 60%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.hero .sell-box .desc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero .sell-box .desc h2 {
    font-size: 18px;
    font-weight: 400;
    padding: 15px 10px 0;
    font-family: 'Kanit';
}
.hero .sell-box .desc i {
    padding-top: 10px;
    padding-right: 15px;
    font-size: 20px;
    color: rgb(10, 118, 114);
    cursor: pointer;
}
.sell-box h1 {
    font-size: 21px;
    font-weight: 500;
    margin: 10px 8px 15px;
    font-family: 'Kanit';
    color: rgb(10, 118, 114);
}
.sell-box h3 {
    font-size: 13px;
    font-weight: 400;
    margin: 8px 8px 5px;
}
.sell-box h4 {
    font-size: 13px;
    font-weight: 400;
    margin: 0px 8px 5px;
}
                /* Product */
.back {
    width: 75%;
    margin: 40px auto 0;
    display: flex;
}
.back i {
    font-size: 23px;
    margin-top: 5px;
}
.back a {
    text-decoration: none;
    font-size: 22px;
    padding: 0 10px;
    color: #000;
    font-weight: 600;
    font-family: 'Kanit';
}
.big-box {
    display: flex;
    width: 75%;
    margin: 50px auto;
    background-color: transparent;
}
.big-box .long-box {
    width: 70%;
    height: auto;
    border-radius: 15px;
}
.big-box .long-box .picture-box {
    width: 90%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin: 50px auto 30px;
    margin-left: 0px;
    border-radius: 10px;
    padding: 35px 0;
    overflow: hidden;
    position: relative;
}
.big-box .long-box .picture-box img {
    width: 100%;
    height: 400px;
    margin: 20px 100px;
    border-radius: 10px;
    transition: all .15s ease;
}
.long-box .picture-box .images {
    display: flex;
    width: 100%;
}
.images input {
    display: none;
}
.long-box .picture-box .dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.picture-box .dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #000;
    margin: 0 8px 0px;
    cursor: pointer;
    transition: .3s ease;
}
.dots label:hover {
    background: rgb(10, 118, 114);
}

#img2:checked ~ .m2 {
    margin-left: -90%;
    background-color: #fff
}
#img3:checked ~ .m3 {
    margin-left: -191.8%;
}
#img4:checked ~ .m4 {
    margin-left: -293.5%;
}
#img5:checked ~ .m5 {
    margin-left: -395%;
}
#img6:checked ~ .m6 {
    margin-left: -497.5%;
}



#img2:checked ~ .m2.pro72 {
    margin-left: -82%;
    background-color: #fff
}
#img3:checked ~ .m3.pro73 {
    margin-left: -178%;
}
#img4:checked ~ .m4.pro74 {
    margin-left: -272%;
}
#img5:checked ~ .m5.pro75 {
    margin-left: -365%;
}
#img6:checked ~ .m6.pro76 {
    margin-left: -492%;
}
#img2:checked ~ .m2.pro2 {
    margin-left: -99%;
    background-color: #fff
}
#img3:checked ~ .m3.pro3 {
    margin-left: -211%;
}
#img4:checked ~ .m4.pro4 {
    margin-left: -324%;
}
#img5:checked ~ .m5.pro5 {
    margin-left: -436%;
}
#img6:checked ~ .m6.pro6 {
    margin-left: -550%;
}

#img2:checked ~ .m2.pro22 {
    margin-left: -86%;
    background-color: #fff
}
#img3:checked ~ .m3.pro23 {
    margin-left: -185%;
}
#img4:checked ~ .m4.pro24 {
    margin-left: -283%;
}
#img5:checked ~ .m5.pro25 {
    margin-left: -381%;
}
#img6:checked ~ .m6.pro26 {
    margin-left: -483%;
}

#img2:checked ~ .m2.pro32 {
    margin-left: -90%;
    background-color: #fff
}
#img3:checked ~ .m3.pro33 {
    margin-left: -193%;
}
#img4:checked ~ .m4.pro34 {
    margin-left: -296%;
}
#img5:checked ~ .m5.pro35 {
    margin-left: -399%;
}
#img6:checked ~ .m6.pro36 {
    margin-left: -502%;
}

#img2:checked ~ .m2.pro52 {
    margin-left: -84.5%;
    background-color: #fff
}
#img3:checked ~ .m3.pro53 {
    margin-left: -181%;
}
#img4:checked ~ .m4.pro54 {
    margin-left: -277%;
}
#img5:checked ~ .m5.pro55 {
    margin-left: -373%;
}
#img6:checked ~ .m6.pro56 {
    margin-left: -485%;
}
#img2:checked ~ .m2.pro62 {
    margin-left: -82%;
    background-color: #fff
}
#img3:checked ~ .m3.pro63 {
    margin-left: -175%;
}
#img4:checked ~ .m4.pro64 {
    margin-left: -272%;
}
#img5:checked ~ .m5.pro65 {
    margin-left: -371%;
}

#img2:checked ~ .m2.scan2 {
    margin-left: -91%;
    background-color: #fff
}
#img3:checked ~ .m3.scan3 {
    margin-left: -195%;
}
#img4:checked ~ .m4.scan4 {
    margin-left: -305%;
}
#img5:checked ~ .m5.scan5 {
    margin-left: -410%;
}
#img6:checked ~ .m6.scan6 {
    margin-left: -514%;
}
#img2:checked ~ .m2.sko2 {
    margin-left: -86%;
    background-color: #fff
}
#img3:checked ~ .m3.sko3 {
    margin-left: -185%;
}
#img4:checked ~ .m4.sko4 {
    margin-left: -284%;
}
#img5:checked ~ .m5.sko5 {
    margin-left: -383%;
}
#img6:checked ~ .m6.sko6 {
    margin-left: -485%;
}
#img2:checked ~ .m2.aud2 {
    margin-left: -84%;
    background-color: #fff
}
#img3:checked ~ .m3.aud3 {
    margin-left: -182%;
}
#img4:checked ~ .m4.aud4 {
    margin-left: -284%;
}

#img2:checked ~ .m2.promit1 {
    margin-left: -100%;
    background-color: #fff
}
#img3:checked ~ .m3.promit2 {
    margin-left: -213%;
}
#img4:checked ~ .m4.promit3 {
    margin-left: -326%;
}
#img5:checked ~ .m5.promit4 {
    margin-left: -438%;
}
#img6:checked ~ .m6.promit5 {
    margin-left: -550%;
}
.big-box .long-box .text-box {
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
}
.long-box .text-box .date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.long-box .text-box .date h4 {
    padding: 25px 20px 15px;
    color: #999;
    font-family: 'Kanit';
    font-weight: 300;
}
.long-box .text-box .date i {
    padding: 30px;
    font-size: 20px;
    cursor: pointer;
}
.long-box .text-box h1 {
    font-family: 'Kanit';
    padding: 0px 20px;
}
.long-box .text-box .price {
    font-family: 'Kanit';
    color: rgb(10, 118, 114);
    font-size: 35px;
    padding: 10px 20px;
}
.long-box .text-box .info-pro {
    display: flex;
    width: 100%;
    padding: 5px 20px;
}
.long-box .text-box .info-pro h3 {
    font-family: 'Kanit';
    padding:  3px 10px;
    margin-top: 3px;
    margin-right: 7px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
}
.long-box .text-box .description {
    width: 95%;
    margin: 25px auto 10px;
    border-bottom: 1px solid #000;
}
.long-box .text-box .description h2 {
    font-size: 35px;
    margin: 15px 7px 20px;
    font-family: 'Kanit';
    color: rgb(10, 118, 114);
}
.long-box .text-box .description p {
    font-family: 'Kanit';
    font-size: 16px;
}
.long-box .text-box .description .options {
    margin: 20px 0 4px;
    font-size: 18px;
}
.long-box .text-box .description .last {
    padding-bottom: 10px;
}
.text-box h5 {
    font-family: 'Kanit';
    text-align: center;
    color: #999;
    padding-bottom: 15px;
}
.long-box .contact {
    width: 90%;
    margin: 25px 0;
    display: flex;
    padding: 35px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #fff;
}
.long-box .contact .seller {
    width: 50%;
}
.long-box .contact .seller h2 {
    font-family: 'Kanit';
    color: rgb(10, 118, 114);
}
.long-box .contact .seller .box {
    display: flex;
}
.contact .seller .box .sell-man {
    width: 90px;
    margin: 10px 5px;
    border-radius: 50%;
}
.contact .seller .box .info-seller {
    margin: 10px 15px;
}
.contact .seller .box .info-seller h3 {
    font-size: 22px;
    margin-bottom: 7px;
    font-family: 'Kanit';
}
.contact .seller .box .info-seller h4 {
    font-size: 15px;
    font-family: 'Kanit';
}
.contact .send-msg {
    width: 50%;
}
.contact .send-msg button {
    width: 90%;
    margin: 10px auto;
    margin-left: 20px;
    font-family: 'Kanit';
    height: 50px;
    font-size: 19px;
    border: 4px solid rgb(10, 118, 114);
    color: #fff;
    background-color: rgb(10, 118, 114);
    cursor: pointer;
    transition: .3s ease;
}
.contact .send-msg button:hover {
    background: transparent;
    color: rgb(10, 118, 114);
}
.contact .send-msg .phone {
    display: flex;
}
.contact .send-msg .phone .show {
    width: 106px;
}
.contact .send-msg .phone .phone-num {
    display: flex;
    margin: 25px 10px;
    font-family: 'Kanit';
}
.contact .send-msg .phone .phone-num span {
    width: 40px;
    height: 40px;
    align-items: center;
    margin-top: -10px;
    margin-right: 4px;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    background: rgb(10, 118, 114);
}
.contact .send-msg .phone .phone-num span i {
    font-size: 18px;
    color: #fff;
}
.contact .send-msg .phone .phone-num .number {
    font-size: 20px;
    margin-left: 3px;
}
.big-box .side-box {
    width: 35%;
    height: 100vh;
    margin: 50px 0;
    margin-left: -60px;
}
.big-box .side-box .seller-info {
    width: 100%;
    height: 43%;
    background-color: #fff;
    border-radius: 10px;
}
.big-box .side-box .seller-info .box2 {
    width: 85%;
    margin: 0px auto;
}
.big-box .side-box .seller-info .box2 img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 15px;
}
.big-box .side-box .seller-info .box2 h3 {
    margin-top: 25px;
    font-size: 24px;
    font-family: 'Kanit';
    color: rgb(10, 118, 114);
}
.big-box .side-box .seller-info .box2 .info-seller2 {
    display: flex;
}
.big-box .side-box .seller-info .box2  h4 {
    font-size: 16px;
    font-family: 'Kanit';
}
.big-box .side-box .seller-info .box2 .buttons {
    margin: 40px 0 20px;
}
.big-box .side-box .seller-info .box2 button {
    width: 84%;
    height: 52px;
    background: rgb(10, 118, 114);
    font-family: 'Kanit';
    color: #fff;
    font-size: 19px;
    border: 3px solid rgb(10, 118, 114);
    outline: 0;
    cursor: pointer;
    margin: 13px 23px 0;
    transition: .3s ease;
}
.big-box .side-box .seller-info .box2 button:hover {
    background: transparent;
    color: rgb(10, 118, 114);
}
.big-box .side-box .seller-info .box2 .call:hover {
    border: 5px solid rgb(10, 118, 114);
}
.big-box .side-box .seller-info .box2 .call {
    background: transparent;
    color: rgb(10, 118, 114);
}
.side-box .seller-info .box2 h5 {
    text-align: center;
    font-family: 'Kanit';
}
.side-box .location {
    width: 100%;
    height: 34%;
    margin-top: 25px;
    background-color: #fff;
    border-radius: 10px;
}
.side-box .location h2 {
    font-size: 27px; 
    padding: 18px 25px;
    font-family: 'Kanit';
}
.side-box .location .location-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.side-box .location .location-box h3 {
    font-size: 20px; 
    padding: 50px 20px 0;
    font-family: 'Kanit';
}
.side-box .location .location-box iframe {
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 0 20px;
}
.side-box .consumer {
    width: 100%;
    margin-top: 25px;
    background-color: #fff;
    border-radius: 10px;
}
.consumer h3 {
    font-size: 25px;
    font-family: 'Kanit';
    padding: 20px;
}
.side-box .collapsible {
    max-width: 100%;
    overflow: hidden;
    font-weight: 500;
}
.side-box .collapsible label {
    position: relative;
    font-family: 'Kanit';
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 17px 20px 10px;
}
.collapsible label::after {
    content: "+";
    position: absolute;
    right: 15px;
    width: 18px;
    height: 18px;
}
.collapsible-text {
    max-height: 1px;
    overflow: hidden;
    line-height: 1.4;
    border-radius: 10px;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all .3s ease;
}
.collapsible input {
    display: none;
}
.collapsible input:checked ~ .collapsible-text  {
    max-height: 900px;
    padding-bottom: 25px;
    background-color: #fff;
    opacity: 1;
    top: 0;
}
.collapsible-text p {
    font-size: 16px;
    font-family: 'Kanit';
    padding: 10px;
}
.collapsible-text p span {
    color: rgb(10, 118, 114);
}
.container .promo.similar {
    text-align: left;
    margin-left: 200px;
}
footer {
    width: 100%;
    height: auto;
    margin: 100px 0;
    border-top: 1px solid #000;
}
footer .boxes {
    display: flex;
    margin: 110px 170px 100px;
}
footer .boxes .f-box {
    margin-right: 140px;
}
footer .boxes .f-box p {
    font-family: 'Kanit';
    margin: 7px 0;
    font-size: 17px;
    cursor: pointer;
}
footer .boxes .f-box p:hover {
    color: rgb(10, 118, 114);
}
.home-footer {
    margin-top: 60px;
}
.banner {
    width: 100%;
    margin-top: 100px;
    background: rgb(10, 118, 114);
    text-align: center;
}
.banner h2 {
    color: #fff;
    font-family: 'Kanit';
    font-size: 45px;
    padding-top: 30px;
}
.banner h3 {
    color: #fff;
    font-family: 'Kanit';
    font-size: 20px;
    padding-bottom: 50px;
}
#bar,
#close {
    display: none;
}
@media(max-width: 415px){
    .search-box {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .search-box .search-bar {
        margin: 0 20px;
        width: 100%;
    }
    .search-box .region {
        margin: 40px 20px 10px;
    }
    .search-box .search-bar input {
        width: 90%;
    }
    .search-box button {
        margin: 10px 20px;
        border-radius: 10px;
        width: 43%;
    }

    .icons .box-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .icons .box-icons .in-two {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }
    .icons .box-icons .small-box.none {
        display: block;
    }
    .container {
        width: 100%;
    }
    .container .hero {
        width: 100%;
    }
    .container .hero .sell-box {
        min-width: 350px;
    }
    .container .hero .sell-box .desc h2 {
        font-size: 22px;
    }
    .big-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .big-box .long-box {
        max-width: 100%;
        position: relative;
        left: -19px;
        overflow: hidden;
    }
    .big-box .long-box .picture-box {
        width: 90%;
        position: relative;
        margin-right: 0;
    }
    .big-box .long-box .picture-box .images {
        position: relative;
        left: -90px;
        padding: 0 10px;
        margin: 20px 0;
    }
    .big-box .long-box .picture-box .images img {
        max-height: 290px;
        min-width: 380px;
        margin: 0 50px;
        padding-left: 50px;
    }
    .big-box .long-box .contact {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        padding: 0;
    }
    .big-box .long-box .contact .seller {
        width: 100%;
    }
    .big-box .long-box .contact .seller h2 {
        padding: 15px;
    }
    .big-box .long-box .contact .send-msg {
        width: 100%;
    }
    .big-box .side-box {
        max-width: 100%;
        position: relative;
        left: -19px;
    }
    .big-box .side-box .seller-info {
        min-width: 127%;
        position: relative;
        left: -30px;
    }
    .big-box .side-box .location {
        min-width: 127%;
        position: relative;
        left: -30px;
    }
    .big-box .side-box .location .location-box {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -50px;
    }
    .big-box .side-box .location .location-box iframe {
        max-width: 250px;
        max-height: 150px;
        margin-left: 60px;
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .big-box .side-box .consumer {
        min-width: 127%;
        position: relative;
        left: -30px;
    }
    footer .boxes {
        display: flex;
        flex-direction: column;
    }
    footer .boxes .f-box {
        margin: 0;
        margin-top: 20px;
        margin-left: -120px;
        padding: 0;
        align-items: start;
    }
    footer .boxes .f-box p {
        font-size: 17px;
        max-width: 100%;
    }


    #img2:checked ~ .m2 {
        position: relative;
        left: -20%;
        background-color: #fff
    }
    #img3:checked ~ .m3 {
        position: relative;
        left: -53%;
    }
    #img4:checked ~ .m4 {
        position: relative;
        left: -79%;
    }
    #img5:checked ~ .m5 {
        position: relative;
        left: -105%;
    }
    #img6:checked ~ .m6 {
        position: relative;
        left: -132%;
    }
    
    
    
    #img2:checked ~ .m2.pro72 {
        position: relative;
        left: -30%;
    }
    #img3:checked ~ .m3.pro73 {
        position: relative;
        left: -69%;
    }
    #img4:checked ~ .m4.pro74 {
        position: relative;
        left: -101%;
    }
    #img5:checked ~ .m5.pro75 {
        position: relative;
        left: -138%;
    }
    #img6:checked ~ .m6.pro76 {
        position: relative;
        left: -170%;
    }
    #img2:checked ~ .m2.pro2 {
        position: relative;
        left: -15%;
    }
    #img3:checked ~ .m3.pro3 {
        position: relative;
        left: -31%;
    }
    #img4:checked ~ .m4.pro4 {
        position: relative;
        left: -46%;
    }
    #img5:checked ~ .m5.pro5 {
        position: relative;
        left: -58%;
    }
    #img6:checked ~ .m6.pro6 {
        position: relative;
        left: -75%;
    }
    
    #img2:checked ~ .m2.pro22 {
        position: relative;
        left: -30%;
    }
    #img3:checked ~ .m3.pro23 {
        position: relative;
        left: -59%;
    }
    #img4:checked ~ .m4.pro24 {
        position: relative;
        left: -88%;
    }
    #img5:checked ~ .m5.pro25 {
        position: relative;
        left: -120%;
    }
    #img6:checked ~ .m6.pro26 {
        position: relative;
        left: -159%;
    }
    
    #img2:checked ~ .m2.pro32 {
        position: relative;
        left: -20%;
    }
    #img3:checked ~ .m3.pro33 {
        margin-left: -210%;
    }
    #img4:checked ~ .m4.pro34 {
        position: relative;
        left: -70%;
    }
    #img5:checked ~ .m5.pro35 {
        position: relative;
        left: -103%;
    }
    #img6:checked ~ .m6.pro36 {
        position: relative;
        left: -127%;
    }
    
    #img2:checked ~ .m2.pro52 {
        position: relative;
        left: -30%;
    }
    #img3:checked ~ .m3.pro53 {
        position: relative;
        left: -65%;
    }
    #img4:checked ~ .m4.pro54 {
        position: relative;
        left: -95%;
    }
    #img5:checked ~ .m5.pro55 {
        position: relative;
        left: -128%;
    }
    #img6:checked ~ .m6.pro56 {
        position: relative;
        left: -160%;
    }
    #img2:checked ~ .m2.pro62 {
        position: relative;
        left: -34%;
    }
    #img3:checked ~ .m3.pro63 {
        position: relative;
        left: -70%;
    }
    #img4:checked ~ .m4.pro64 {
        position: relative;
        left: -105%;
    }
    #img5:checked ~ .m5.pro65 {
        position: relative;
        left: -135%;
    }
    
    #img2:checked ~ .m2.scan2 {
        position: relative;
        left: -20%;
    }
    #img3:checked ~ .m3.scan3 {
        position: relative;
        left: -47%;
    }
    #img4:checked ~ .m4.scan4 {
        position: relative;
        left: -66%;
    }
    #img5:checked ~ .m5.scan5 {
        position: relative;
        left: -90%;
    }
    #img6:checked ~ .m6.scan6 {
        position: relative;
        left: -114%;
    }
    #img2:checked ~ .m2.sko2 {
        position: relative;
        left: -30%;
    }
    #img3:checked ~ .m3.sko3 {
        position: relative;
        left: -60%;
    }
    #img4:checked ~ .m4.sko4 {
        position: relative;
        left: -90%;
    }
    #img5:checked ~ .m5.sko5 {
        position: relative;
        left: -120%;
    }
    #img6:checked ~ .m6.sko6 {
        position: relative;
        left: -150%;
    }
    #img2:checked ~ .m2.aud2 {
        position: relative;
        left: -30%;
    }
    #img3:checked ~ .m3.aud3 {
        position: relative;
        left: -63%;
    }
    #img4:checked ~ .m4.aud4 {
        position: relative;
        left: -92%;
    }
    
    #img2:checked ~ .m2.promit1 {
        position: relative;
        left: -8%;
    }
    #img3:checked ~ .m3.promit2 {
        position: relative;
        left: -30%;
    }
    #img4:checked ~ .m4.promit3 {
        position: relative;
        left: -40%;
    }
    #img5:checked ~ .m5.promit4 {
        position: relative;
        left: -55%;
    }
    #img6:checked ~ .m6.promit5 {
        position: relative;
        left: -70%;
    }

    .navbar {
        min-width: 435px;
    }

}
@media(max-width: 770px){
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -600px;
        height: 100vh;
        width: 395px;
        background-color: rgb(3, 73, 70);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        z-index: 200;
    }
    .navbar.active {
        right: -140px;
    }
    .navbar a h2 {
        font-size: 30px;
        padding: 20px;
      }
      .navbar a h3 {
        display: none;
      }
      .navbar button {
        width: 270px;
        height: 70px;
        font-size: 27px;
        margin-top: 15px;
      }
      #bar{
        display: flex;
        align-items: center;
      }
      #mobile i {
        color: #1a1a1a;
        font-size: 30px;
        padding: 20px;
        cursor: pointer;
      }
      #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
      }
      header .logo {
        margin-left: 70px;
      }
      .icons {
        width: 100%;
      }
      .icons .box-icons .in-two .small-box.none {
        display: none;
      }
      .container {
        width: 100%;
      }
      .container .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      .container .hero .sell-box {
        width: 60%;
        height: 50vh;
        margin: 20px 0;
      }
      .container .hero .sell-box h2 {
        font-size: 30px;
      }
      .container .hero .sell-box h1 {
        font-size: 30px;
      }
      .container .hero .sell-box h3 {
        font-size: 18px;
        font-weight: 600;
      }
      .container .hero .sell-box h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      .big-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .big-box .long-box {
        width: 100%;
        margin-left: 80px;
      }
      
      .big-box .side-box {
        width: 70%;
        margin-left: 20px;
      }
      .big-box .side-box .seller-info {
        width: 100%;
      }
      .side-box .seller-info .box2 {
        width: 100%;
      }
      .side-box .seller-info .box2 h5 {
        font-size: 19px;
      }
      .big-box .side-box .seller-info .box2  .info-seller2 img {
        width: 120px;
        height: 120px;
      }
      .big-box .side-box .seller-info .box2  .info-seller2 .info-seller3 h3 {
        font-size: 35px;
        padding-top: 15px;
      }
      .big-box .side-box .location {
        width: 100%;
      }
      .big-box .side-box .location .location-box {
        width: 100%;
      }
      .big-box .side-box .location .location-box iframe {
        width: 300px;
        height: 200px;
      }
      .container .promo.similar {
        text-align: center;
        font-size: 45px;
        margin: 0;
      }
      #img2:checked ~ .m2 {
        margin-left: -97%;
        background-color: #fff
    }
    #img3:checked ~ .m3 {
        margin-left: -207%;
    }
    #img4:checked ~ .m4 {
        margin-left: -317%;
    }
    #img5:checked ~ .m5 {
        margin-left: -428%;
    }
    #img6:checked ~ .m6 {
        margin-left: -538%;
    }
    
    
    
    #img2:checked ~ .m2.pro72 {
        margin-left: -89%;
        background-color: #fff
    }
    #img3:checked ~ .m3.pro73 {
        margin-left: -190%;
    }
    #img4:checked ~ .m4.pro74 {
        margin-left: -295%;
    }
    #img5:checked ~ .m5.pro75 {
        margin-left: -395%;
    }
    #img6:checked ~ .m6.pro76 {
        margin-left: -500%;
    }
    #img2:checked ~ .m2.pro2 {
        margin-left: -108%;
        background-color: #fff
    }
    #img3:checked ~ .m3.pro3 {
        margin-left: -228%;
    }
    #img4:checked ~ .m4.pro4 {
        margin-left: -350%;
    }
    #img5:checked ~ .m5.pro5 {
        margin-left: -476%;
    }
    #img6:checked ~ .m6.pro6 {
        margin-left: -595%;
    }
    
    #img2:checked ~ .m2.pro22 {
        margin-left: -93%;
        background-color: #fff
    }
    #img3:checked ~ .m3.pro23 {
        margin-left: -200%;
    }
    #img4:checked ~ .m4.pro24 {
        margin-left: -307%;
    }
    #img5:checked ~ .m5.pro25 {
        margin-left: -413%;
    }
    #img6:checked ~ .m6.pro26 {
        margin-left: -510%;
    }
    
    #img2:checked ~ .m2.pro32 {
        margin-left: -100%;
        background-color: #fff
    }
    #img3:checked ~ .m3.pro33 {
        margin-left: -210%;
    }
    #img4:checked ~ .m4.pro34 {
        margin-left: -326%;
    }
    #img5:checked ~ .m5.pro35 {
        margin-left: -430%;
    }
    #img6:checked ~ .m6.pro36 {
        margin-left: -543%;
    }
    
    #img2:checked ~ .m2.pro52 {
        margin-left: -92%;
        background-color: #fff
    }
    #img3:checked ~ .m3.pro53 {
        margin-left: -196%;
    }
    #img4:checked ~ .m4.pro54 {
        margin-left: -300%;
    }
    #img5:checked ~ .m5.pro55 {
        margin-left: -404%;
    }
    #img6:checked ~ .m6.pro56 {
        margin-left: -510%;
    }
    #img2:checked ~ .m2.pro62 {
        margin-left: -87%;
        background-color: #fff
    }
    #img3:checked ~ .m3.pro63 {
        margin-left: -189%;
    }
    #img4:checked ~ .m4.pro64 {
        margin-left: -292%;
    }
    #img5:checked ~ .m5.pro65 {
        margin-left: -398%;
    }
    
    #img2:checked ~ .m2.scan2 {
        margin-left: -98%;
        background-color: #fff
    }
    #img3:checked ~ .m3.scan3 {
        margin-left: -212%;
    }
    #img4:checked ~ .m4.scan4 {
        margin-left: -330%;
    }
    #img5:checked ~ .m5.scan5 {
        margin-left: -443%;
    }
    #img6:checked ~ .m6.scan6 {
        margin-left: -556%;
    }
    #img2:checked ~ .m2.sko2 {
        margin-left: -92%;
        background-color: #fff
    }
    #img3:checked ~ .m3.sko3 {
        margin-left: -200%;
    }
    #img4:checked ~ .m4.sko4 {
        margin-left: -307%;
    }
    #img5:checked ~ .m5.sko5 {
        margin-left: -414%;
    }
    #img6:checked ~ .m6.sko6 {
        margin-left: -521%;
    }
    #img2:checked ~ .m2.aud2 {
        margin-left: -92%;
        background-color: #fff
    }
    #img3:checked ~ .m3.aud3 {
        margin-left: -197%;
    }
    #img4:checked ~ .m4.aud4 {
        margin-left: -304%;
    }
    
    #img2:checked ~ .m2.promit1 {
        margin-left: -115%;
        background-color: #fff
    }
    #img3:checked ~ .m3.promit2 {
        margin-left: -230%;
    }
    #img4:checked ~ .m4.promit3 {
        margin-left: -356%;
    }
    #img5:checked ~ .m5.promit4 {
        margin-left: -478%;
    }
    #img6:checked ~ .m6.promit5 {
        margin-left: -600%;
    }
      /* Footer */
      footer .boxes .f-box p {
        font-size: 25px;
        width: 200%;
      }
}